@font-face {
  font-family: "Product Sans";
  src: url("./css/fonts/ProductSans-BoldItalic.woff2") format("woff2"),
    url("./css/fonts/ProductSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("./css/fonts/ProductSans-Regular.woff2") format("woff2"),
    url("./css/fonts/ProductSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("./css/fonts/ProductSans-Italic.woff2") format("woff2"),
    url("./css/fonts/ProductSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("./css/fonts/ProductSans-Bold.woff2") format("woff2"),
    url("./css/fonts/ProductSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
